<%= turbo_frame_tag Post.new %>

<%= turbo_frame_tag "posts" do %>

    <% @posts.each do |post| %>

      <div class= "justify-center mb-2">
        <div class="flex gap-2 items-center">

          <%= render post %>
          
        </div>
      </div>

    <% end %>

<% end %>