<%= link_to '<- Back', :back, class:"link-primary mb-10 w-fit" %>

<div class="justify-center gap-2.5">

  <div class="flex items-center gap-2">

    <%= render @post %>

  </div>

  <%= render partial: "comments/form", locals: {post: @post} %>

  <%= render @post.comments %>
</div>